.perfil-coluna-principal{
    margin-left: 83.3%;
    height: 100%;
    position: absolute;
    background-color: transparent;

}

.perfil-coluna-sub-principal{
    background-color: #ffffff;
    height: 92%;
    width: 95%;
    position: absolute;
    box-shadow: -5px 2px 20px rgba(207, 207, 207, 0.274);
}

.perfil-imagem-jogador{
    border-color: #eeeeee;
    background-color: #ffffff;
    border-width: 5px;
    border-style: solid;
    border-radius: 100%;
    height: 150px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 55px;
}

.perfil-imagem{
    height: 110px;
    margin-left: 12%;
    margin-top: 9%;
    margin-bottom: auto;
}

.perfil-nome{
    text-align: center;
}

.perfil-cargo{
    text-align: center;
}

.perfilT-checkbox{
    display: none;
}

.perfilT-label{
    padding: 15px;
    position: initial;
    margin-left: 80%;
}

input[type="checkbox"]:checked ~ #perfil-teste{
    display: none;
}
