.perfil-coluna-principal{
    margin-left: 83.2%;
    height: 100%;
    position: fixed;
    box-shadow: -10px 10px 18px #8888882c;
    border-radius: 20px;
    background-color: var(--cor-branca-n1);
    margin-top: -45px;
}

.perfil-coluna-sub-principal{
    background-color: var(--cor-branca-n1);
    height: 92%;
    width: 95%;
}

.perfil-imagem-jogador{
    border-color: #eeeeee;
    background-color:  var(--cor-branca-n1);
    border-width: 5px;
    border-style: solid;
    border-radius: 100%;
    height: 150px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 55px;
    
}

.perfil-imagem{
    height: 110px;
    margin-left: 12%;
    margin-top: 9%;
    margin-bottom: auto;
    cursor: pointer;
}

.perfil-nome{
    text-align: center;
    font-weight: 800;
}

.perfil-cargo{
    text-align: center;
}


.perfil-container{
    height: 95vh;
    background-color: var(--cor-branca-n1);
    padding-top: 20px;
}
