.Menu-container{
  height: 50px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--cor-branca-n1);
}

.Menu-itens{
  margin-top: auto;
  margin-bottom: auto;
  font-weight: 500;
  color: var(--cor-preto-n1);
}

.Menu-row{
  padding-top: 0.5%;
  margin-top: auto;
  margin-bottom: auto;
}