.login-fundo{
    background-image: url('./../../assets/image/background-login.jpg');
    position: fixed;
    background-color: brown;
    height: 100%;
    width: 100%;
    background-size: cover;/*ONLY MOBILE */
}

.login-container{
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.548);
    min-height: 80%;
    height: 80%;
    min-width: 50%;
    width: 50%;
    border-radius: 8px;
}

.login-logo{
    text-align: center;
    margin-bottom: 23px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

#login-imagem-logo{
    height: 100px;
}

.login-criar-conta{
    text-align: center;
    font-weight: 100;
    font-size: 10pt;
}

.login-button{
    text-align: center;
    margin-top: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}