.login-fundo {
  background-color: #ffffff;
  width: 100%;
  background-size: cover;
}

.login-container-form {
  margin-bottom: 3%;
  margin-top: 55px;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  min-height: 80%;
  height: 80%;
  width: 35%;
}

.login-logo {
  text-align: center;
  margin-bottom: 23px;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

#login-imagem-logo {
  height: 100px;
}

.login-criar-conta {
  text-align: center;
  font-weight: 600;
  font-size: 12pt;
  cursor: pointer;
  color: var(--cor-preto-n1);
}

.login-criar-conta:hover {
    color: var(--cor-cinza-n1);
  }

.login-container-criar-conta{
    text-align: center;
}

.login-button {
  text-align: center;
  margin-top: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.login-textField {
  width: 100%;
}

.login-container-textField {
  margin-top: 10px;
  margin-bottom: 10px;
}
