.adicionar-card{
    background-color: transparent;
    /* margin-top: -140px; */
}

.adicionar-fundo{
    background-image: url('./../../assets/image/background-adicionar.jpg');
    background-color: rgb(255, 255, 255);
    height: 102vh;
    width: 100%;
    background-size: cover;
}

.adicionar-container-transparente{
    height: 10%;
}

.adicionar-container-form{
    margin-bottom: 3%;
    padding: 30px;
    margin-left: 5%;
    background-color: rgba(255, 255, 255, 0.733);
    height: 80%;
    width: 70%;
    border-radius: 8px;
}

.adicionar-logo{
    text-align: center;
    margin-bottom: 23px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

#adicionar-imagem-logo{
    height: 100px;
}

.adicionar-criar-conta{
    text-align: center;
    font-weight: 100;
    font-size: 10pt;
    cursor: pointer;
}

.adicionar-button{
    text-align: center;
    margin-top: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}