.modal-adicionar-container{
    position: fixed;
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
    background-image: url('./../../assets/image/background-adicionar.jpg');
    background-size: cover;/*ONLY MOBILE */
}

.modal-adicionar-transparent{
    position: fixed;
    background-color: rgba(255, 255, 255, 0.363);
    height: 100%;
    width: 100%;
}