.loading-container{
    height: 100vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.877);
    align-items: center;
    position: fixed;
    z-index: 99;
}

.loading-imagem{
    height: 275px;
}

.loading-container-imagem{
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    width: 20%;
}
